{# D3 Example Linger #}
{% extends 'd3/base.html' %}
{% load staticfiles %}
{% block title %}Linger Network Graph{% endblock %}
{% block extrahead %}
  {{ block.super }}
  <link href="{% static 'd3/css/linger.css' %}" rel="stylesheet">
  <script src="//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js"></script>
  <script src="{% static 'd3/js/linger.js' %}"></script>
{% endblock extrahead %}

{%  block content %}

  <div class="page-header">
    <h1>Linger Network Graph with D3</h1>
  </div>
  
  <div id="graph">
  </div>

{% endblock %}
